.footer{ 
    background-color: #222; 
    color: #fff; 
    padding: 3em; 
    text-align: center; 
}

.social_List{
    display:flex;
    justify-content: center;
    list-style: none;
    gap:1em ;
}

.social_List li:hover{ 
    color: #ffbb33; 
}
.social_List svg{
    font-size: 1.5em; 
    cursor: pointer; 
} 

.Copyright{ 
    margin-top: 2em;     
}

.Copyright span{
    font-weight: bold;
    color: #ffbb33; 
}