.navbar{ 
    display:flex; 
    justify-content: space-between;
    padding: 1em; 
    background-color: #222; 

}

.lista{
    list-style: none;
    display: flex;
    align-items: center;
}

.item{ 
    margin-right: 1em; 
} 

.item a{
    color: #fff;
    text-decoration: none; 

}

.item a:hover{

    color: #ffbb33; 
}